.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
output
old files
other data
Land cover map from planet imagery 2023_03_28.qgz
/.quarto/
/_site/
drone_fcat5_projected_cropped.tif.aux.xml
FCAT_Deforestation_report_2019-2022.html
FCAT_Deforestation_report_2019-2022_files
